.footer
    padding-top: 22px
    &_logo
        max-width: 320px

    .btn
        margin-top: 8px

    &-col
        max-width: 35%
        p
            font-size: 10px
            font-style: normal
            font-weight: 400

    .header-social
        margin-right: 20px


    &-nav
        list-style: none
        padding: 0
        max-width: 48%
        vertical-align: top
        display: inline-block
        margin: 0 15px
        &_item
            padding: 0
            a
                white-space: nowrap
                width: 100%
                display: block
                font-size: 11px
                font-style: normal
                font-weight: 400
                line-height: 197.7%
                text-decoration: underline

        &_heading
            display: block
            color: $prime
            border-bottom: 1px solid $prime
            padding-bottom: 1px
            margin-bottom: 8px
