@import 'normolize'
@import 'elements'
@import 'slick'
@import 'header'
@import 'footer'

.main
    position: relative
    z-index: 1
    min-height: 100vh
    padding-bottom: 20px
    .header
        background-image: none
        margin: 0

    &-banner
        height: calc( 100vh - 164px )
        margin: 0 auto
        padding: 50px 70px 30px 100px
        display: flex
        flex-direction: column
        justify-content: space-around

        &-content
            max-width: 775px
            margin: 0 0 0 auto

        h1
            padding-left: 25px

        &-wrap
            max-width: 40%
            gap: 20px 4%

        &-item
            width: 48%
            display: inline-block
            text-align: center
            font-size: 20px
            font-style: normal
            font-weight: 400
            line-height: 110%
            margin: 0
            img
                display: block
                margin: 0 auto 20px

        &_text
            font-size: 27px
            font-style: normal
            font-weight: 400
            line-height: 148.3%
            margin: 0
            &.center
                text-align: center

        &_subheading
            font-size: 60px
            margin: 0
            font-weight: 600

    .center-row
        margin: 40px 0 0

    &_bg
        position: absolute
        top: 0
        left: 0
        z-index: -100
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center center

.banner
    width: 1800px
    max-width: 96%
    margin: 0 auto
    padding: 65px 70px 37px 150px
    overflow: hidden
    position: relative
    .container
        max-width: 1240px

    &-content
        max-width: 775px
        margin: 0 0 40px auto

    h1
        padding-left: 25px

    &-wrap
        max-width: 40%
        gap: 20px 4%

    &-item
        width: 48%
        display: inline-block
        text-align: center
        font-size: 20px
        font-style: normal
        font-weight: 400
        line-height: 110%
        margin: 0
        img
            display: block
            margin: 0 auto 20px

    &_text
        font-size: 27px
        font-style: normal
        font-weight: 400
        line-height: 148.3%
        &.center
            text-align: center

    &_subheading
        font-size: 60px
        margin: 0
        font-weight: 600

    &_bg
        position: absolute
        top: 0
        left: 0
        z-index: -1
        width: 100%
        height: 100%
        margin: 0 !important
        object-fit: cover

    &-footer
        width: 100%
        padding-top: 52px

    &_out
        text-align: center
        width: 32.2%
        font-size: 35px
        font-style: normal
        font-weight: 700
        color: white
        padding: 15px 22px 16px
        border-radius: 25px
        background-color: $prime

    &--second
        max-width: 100%
        border-radius: 12px
        display: flex
        flex-wrap: wrap
        padding-left: 70px
        h1
            padding: 0
            margin-bottom: 46px
        .banner
            &-content
                max-width: 54%
            &_text
                font-weight: 500
                padding-left: 68px
                margin: 0

.slider
    background-color: $second
    overflow: hidden
    position: relative
    color: white
    padding: 52px 0 100px
    background-image: url('../img/tilt.jpg')

    &-item
        width: 302px
        margin: 0 17px

    &_heading
        font-size: 16px
        font-style: normal
        font-weight: 600
        line-height: 134.3%
        margin: 0 0 11px

    &_text,
    &_time
        font-size: 14px
        font-style: normal
        font-weight: 400
        line-height: 144.8%
        margin: 0 0 8px
    &_time
        color: #B0B0B0

    &_img
        margin-top: 20px
        display: block
        width: 100%
        border-radius: 20px

.stars
    display: flex
    vertical-align: middle
    position: relative
    margin-bottom: 8px
    gap: 1px

    *::before,
    *::after
        color: #f1c40f

    .woocommerce .star-rating
        font-size: 1em !important

    i
        width: 12px
        height: 12px
        vertical-align: middle
        display: inline-block
        background-image: url('../img/st-0.svg')
        background-repeat: no-repeat
        background-position: center center
        background-size: contain
        color: #eee
        margin: 0
        &:nth-child(1).active
            background-image: url('../img/st-f.svg')
            & ~ i
                background-image: url('../img/st-f.svg')
        &:nth-child(2).active
            background-image: url('../img/st-f.svg')
            & ~ i
                background-image: url('../img/st-f.svg')
        &:nth-child(3).active
            background-image: url('../img/st-f.svg')
            & ~ i
                background-image: url('../img/st-f.svg')
        &:nth-child(4).active
            background-image: url('../img/st-f.svg')
            & ~ i
                background-image: url('../img/st-f.svg')
        &:nth-child(5).active
            background-image: url('../img/st-f.svg')
            & ~ i
                background-image: url('../img/st-f.svg')

.video
    max-width: 1200px
    margin: 0 auto 53px
    position: relative
    z-index: 1
    video
        width: 100%
        display: block
        aspect-ratio: 16/6
        object-fit: cover
        border-radius: 20px

    .btnPlay
        position: absolute
        top: 0
        left: 0
        z-index: 1
        width: 100%
        height: 100%
        border-radius: 20px
        background-color: transparent
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url('../img/play.svg')
        background-repeat: no-repeat
        background-position: center center

.styled
    list-style-type: none
    padding: 0
    li:not(.headline)
        background-color: rgba(0, 0, 0, .025)
        display: list-item
        border-radius: 12px
        margin: 0 0 42px
        padding: 19px 20px 18px 90px
        color: #4478C6
        font-size: 30px
        font-style: normal
        font-weight: 400
        line-height: 160%
        position: relative
        min-height: 60px
        &::after
            content: ''
            display: block
            width: 42px
            height: 42px
            background-image: url('../img/arrow-down.svg')
            background-repeat: no-repeat
            background-position: center center
            background-size: contain
            position: absolute
            top: -42px
            left: 20px
        &::before
            content: attr(value)
            display: inline-block
            width: 46px
            height: 46px
            border-radius: 50%
            text-align: center
            line-height: 46px
            background-color: $black
            color: white
            transform: translateY(-50%)
            position: absolute
            top: 50%
            left: 19px
            z-index: 100

        &:first-child
            &::after
                display: none

    .headline
        margin-bottom: 42px

.section_decription
    u
        position: relative
        display: inline-block
        vertical-align: middle
        min-width: 17px
        text-decoration: none
        padding-bottom: 2px
        &::before
            content: ''
            display: block
            width: 100%
            border-top: 1px solid red
            border-bottom: 1px solid red
            position: absolute
            bottom: 0
            min-height: 2px

        &:empty
            vertical-align: bottom

    img
        display: block
        margin: 10px 0

.id
    &_wrap
        display: flex
        flex-wrap: wrap
        align-items: center
        position: relative
        z-index: 1
        padding-left: 80px

        p
            margin: 0
            font-size: 30px
            font-style: normal
            font-weight: 400
            &:not(.red)
                color: #4478C6

    &_info
        width: 312px
        padding: 4px 20px
        position: absolute
        top: 80%
        left: 20%
        border-radius: 6px
        background: #FFF
        color: #000
        box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.14)
        z-index: 1
        opacity: 0
        visibility: hidden
        transform: translateY(-30px)
        transition: all ease .3s

    &_item
        position: relative
        z-index: 1
        margin: 10px
        display: inline-block
        border-bottom: 1px dashed #4478C6
        &:hover
            z-index: 999
            .id_info
                opacity: 1
                visibility: visible
                transform: translateY(0)

        &::before,
        &::after
            content: '“'

        &::after
            content: '”'

        &__num
            display: inline-block
            vertical-align: middle
            width: 46px
            height: 46px
            border-radius: 50%
            text-align: center
            line-height: 46px
            background-color: $black
            color: white
            z-index: 100
            font-size: 30px
            position: absolute
            left: 0
            top: 4px

.col
    width: 49.5%
    margin-bottom: 40px
    text-align: center
    &__heading
        border-radius: 16px
        background-color: #EE1313
        font-size: 30px
        font-style: normal
        padding: 18px 20px
        text-align: center
        width: 100%
        color: #fff
        margin-bottom: 27px

    &__descr
        color: #4478C6
        font-size: 30px
        font-weight: 500
        line-height: 135%
        margin-bottom: 30px

    &-item
        border-radius: 12px
        background: #F6F6F6
        width: 33%
        padding: 10px
        &-wrap
            gap: 6px 0
            align-items: stretch

        span
            padding: 3px 0
            display: block

    &__text
        width: 100%
        font-size: 30px
        font-style: normal
        font-weight: 400
        margin: 0
        color: #000 !important

.w
    &-150
        display: inline-block
        min-width: 150px !important

.box
    &-wrap
        color: #000
        font-style: normal
        font-weight: 400
        background-image: url('../img/info.svg')
        background-repeat: no-repeat
        font-size: 30px
        line-height: 100%
        padding-left: 40px
        background-position: left top 18px

    &-wrapper
        position: relative
        line-height: 99%
        display: inline-block
        margin: 0 10px 70px

    &-wide
        position: relative
        display: inline-block
        margin: 0 10px 70px
        &__item
            position: relative
            padding: 0 10px 0 30px
            &:first-child
                padding-left: 0

    &-item
        display: inline-block
        padding: 10px
        line-height: 99%
        margin: 10px
        text-align: center
        position: relative

    &-info,
    &-info_bottom,
    &-info_top
        font-size: 15px
        line-height: 99%
        font-style: normal
        font-weight: 400
        position: absolute
        left: -5%
        width: 110%
        color: red

    &-info
        &_bottom
            bottom: -10px

        &_top
            top: -10px

    &-under
        border-top: 1px solid red
        padding-top: 4px
        text-align: left
        font-size: 15px
        line-height: 99%
        font-style: normal
        font-weight: 400
        position: absolute
        left: -5%
        top: 37px
        width: 110%
        color: red

    &-descr
        position: absolute
        left: -5%
        width: 110%
        top: 37px
        border-top: 1px solid red
        padding-top: 21px
        background-image: url('../img/arrow-up.svg')
        background-repeat: no-repeat
        background-position: top 4px center
        color: #EE1313
        text-align: center
        font-size: 15px
        font-weight: 400
        line-height: 99%

.qiuz
    &__heading
        text-align: left
        cursor: pointer

    &__box
        width: 100%
        margin: 14px 0 24px
        padding: 11px 56px 13px
        border-radius: 32px
        background: #EFF0F3
        font-size: 30px
        font-style: normal
        font-weight: 400
        line-height: 134.8%

    &-content
        display: none
        padding-bottom: 14px
        .wrap
            justify-content: flex-start
    &-wrap
        &.active
            .qiuz-content
                display: block

fieldset
    display: block
    padding: 11px 56px 13px
    text-align: center
    label
        display: block
        font-size: 30px
        font-style: normal
        font-weight: 400
        line-height: 100%
        cursor: pointer
        &::after
            content: ''
            width: 10px
            height: 10px
            border-radius: 50%
            display: block
            margin: 14px auto 0
            border: 3px solid #fff
            box-shadow: 0 0 0 1px #BABABA

    input
        display: none
        &:checked ~ label
            &::after
                background-color: red
